SOCKET_URL="https://be.simpuskes.com"
TOPIC_PRINT_NOMOR_ANTREAN="antrean_print"
TOPIC_STATUS="status"
RECONNECT_INTERVAL_MS=5000

# Printer Configuration
PRINTER_TYPE="usb"            # Options: "usb", "net", "serial", "system"
PRINTER_RENDER_MODE="text"    # Options: "text", "image", "both"
PRINTER_VENDOR_ID=""    # Hex vendor ID (optional for auto-detect)
PRINTER_PRODUCT_ID=""   # Hex product ID (optional for auto-detect)
PRINTER_IP="192.168.1.200:9100"
PRINTER_SERIAL_PORT=""           # Optional for USB (leave empty for auto-detect), e.g. COM3 or /dev/usb/lp0
PRINTER_PAPER_WIDTH=576       # Dots: 576 for 80mm, 384 for 58mm
